.changepass-btn {
  background-color: #23aa49;
  height: 3rem;
  width: 5vw;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 7px;
}

.done-btn {
  margin-right: 6.7rem;
}

@media (max-width: 767px) {
  .mobileview-btn {
    width: 75%;
    justify-content: center;
    margin: auto;
  }
}
