.payment-container{
background-color:#EDEDED ;
}
.card-new{
    border: none;
    border-radius: 35px;
}
.payment-h2{
    color: #181725;
    font-weight: 500;
}

.payment-p {
    color: #7C7C7C;
}

.back-home {
    color:  #181725;
    font-size: 18px;
    font-weight: 600;
}

.parent{
    background-color: #F2F3F4;
    overflow: hidden;
    height: 100vh;
}

@media (max-width: 768px) 
{   
    .card-width-mobile{
        width: 100%;
        border-radius: 15px;
    }
}

@media (min-width: 1024px) {
    .card-width-mobile{
        width: 25%;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
}