

.flex-row-reverse > span {
  color: #23aa49;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

/* .col > span {
  color: solid black;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
} */

/* .category-card {

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} */

.category-name{
  color: #575C55;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.tag{
  text-decoration: none;
  outline: none;
}