.card-design {
    border-radius: 15px;
}

.forgotpassword-para {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    color: gray;
}