/* .card-body {
  cursor: pointer;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.new-card-css{
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

.new-card-css img{
  border-radius: 10px;
}

.col > span {
  color: solid black;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.d-flex > button {
  outline: none;
  border: none;
  color: white;
  background-color: #23aa49;
  padding: 4px 8px;
  margin: 5px 5px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  justify-content: center;
}

.d-flex > button:hover {
  background-color: #23aa49;
  color: white;
}

.link-tag {
  text-decoration: none;
  color: #23aa49;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}


/* .heart-btn {
  border: none;
  outline: none;
  text-decoration: none;
} */

.heart-icon {
  outline: none;
  border: none;
  text-decoration: none;
  
}

.like-button {
  cursor: pointer;
  font-size: 24px;
  transition: color 0.2s ease; /* Add a transition effect for smooth color change */
}

.liked {
  color: red;
}

.item-namestyle{
  font-size: 22px;
  font-weight: 700;
  color: black;
}



@media (min-width: 1024px) {
  .heart-desktopview {
    vertical-align: middle;
   
}
}

.fruits-name{
  font-size: 24px;
  font-weight: 700;
  color: #575C55;
  line-height: 2px;
letter-spacing: 1.5px;
}



.content h1 {
  text-align: center;
  margin: 20px 0;
  color: #363636;
  font-size: 40px;
}
.inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.card {
  flex-basis: 33.33333%;
  
}
.inner-card  {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1)
}
.img-wrapper {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.content {
  margin-bottom: 20px;
}
.content h1 {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 10px;
  color: #444;
}
.content p {
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}
.btn-wrapper {
  display: block;
  text-align: center;
}
.view-btn {
  width: 70%;
  height: 40px;
  border: none;
  background-color: steelblue;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.view-btn:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,.4);
}

.light-box {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.6);
  width: 100%;
  height: 100vh;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-out;
}
.box {
  width: 600px;
  height: 400px;
  background-color: #fff;
  transform: scale(0);
  transition: all 200ms ease-in-out;
  padding: 10px;
  box-shadow: 0 3px 9px rgba(0,0,0,.1);
  position: relative;
}
.box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 15px;
}
.box .light-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.box .close-btn {
  position: absolute;
  z-index: 100;
  font-size: 30px;
  color: #ccc;
  left: 100%;
  top: 0;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 200ms linear;
}
/* Effect */
.effect .light-box {
  opacity: 1;
  visibility: visible;
}
.effect .light-box .box {
  transform: scale(1);
}

@media (max-width: 780px) {
  .card {
    flex-basis: 50%;
  }
  .title {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .card {
    flex-basis: 5100%;
  }
  .box .close-btn {
    margin-left: 0;
    left: 80%;
    top: -12%;
  }
}
.credit {
  font-size: 14px;
}

.view-btn{
  background-color: #23aa49;
  border-radius: 5px;
}

.custom-class{
  height: 70px;
}

.loader-container{
  display: flex;
  justify-content: center; 
  align-items: center; 
}